$light-border: rgba(191, 189, 183, 1.00);
$text-colour: rgba(57, 57, 57, 1.00);
$specialOfferColour: rgba(139, 0, 0, 1.00);
$fontFamily: GillSansforJL, Gill Sans, Gill Sans MT, Arial, Helvetica Neue, Helvetica, -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, Droid Sans, sans-serif;

.wrapper {
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;

  .content {
    display: flex;
    background-color: #ffffff;
    color: $text-colour;
    font-weight: 200;
    letter-spacing: normal;
    line-height: 1.25rem;
    font-family: $fontFamily;
    min-height: 100%;
    min-width: 100%;
    padding: 1rem;

    .panelLeft {
      flex-basis: 100%;
      margin-bottom: 1rem;
      h1 {
        font-size: 1.75rem;
        margin-bottom: 0.5rem;
        text-align: left;
      }
      .specialOffer {
        color: $specialOfferColour;
        font-size: 1rem;
      }
    }

    .panelRight {
      flex-basis: 40%;
      border-left: 1px solid $light-border;
      margin-top: -1rem;
      padding-top: 1rem;
      h1 {
        font-size: 3rem;
        text-align: left;
      }
      .specialOffer {
        color: $specialOfferColour;
        font-size: 1.24rem;
      }
    }

    .fontNormal {
      font-weight: 200;
      font-style: normal;

    }

    .showLarge {
      display: block;
    }

    .showSmall {
      display: none;
    }

    .floatRight
    {
      float:right;
    }

    .informationGroup
    {
      padding-right: 2rem;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      border-bottom: 0.063rem solid $light-border;
    }

    .productSpecListStyle
    {
      list-style: none outside;
      margin: 0 1rem 0 0;
      padding: 0;
      li{
        border-top: 0.063rem solid $light-border;
        padding: 1rem 0 1rem;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    .content {
      padding: 1rem;

      .showLarge {
        display: none;
      }

      .showSmall {
        display: block;
      }
      .panelRight {
        padding: 2.5rem;
      }
    }
  }
}
.header {
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  padding: 0 2rem 0 2rem;
  width: 100%;

  h1 {
    margin-top: 1.5rem;
  }
}

.chevron::before {
  border-style: solid;
  border-color: $light-border;
  border-width: 0.25rem 0.25rem 0 0;
  content: "";
  display: inline-block;
  height: 0.45rem;
  left: 0.15rem;
  position: relative;
  top: 0.15rem;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 0.45rem;
}
.chevron.left:before {
  left: 0.25rem;
  transform: rotate(-135deg);
}
