$fontFamily: GillSansforJL, Gill Sans, Gill Sans MT, Arial, Helvetica Neue, Helvetica, -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, Droid Sans, sans-serif;

.content {
  display: grid;
  background-color: #ffffff;
  color: #393939;
  font-weight: 200;
  letter-spacing: normal;
  line-height: 1.25rem;
  font-family: $fontFamily;
}

@media screen and (min-width: 768px) {
  .content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.link {
  color: inherit;
  text-decoration: none;
  background: white;
  display: flex;
}



