$fontFamily: GillSansforJL, Gill Sans, Gill Sans MT, Arial, Helvetica Neue, Helvetica, -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, Droid Sans, sans-serif;
html,
body {
  padding: 0;
  margin: 0;
  font-family: $fontFamily;
  color:#393939;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}


h1 {
  color: #141414;
  margin-top: 0;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0.098rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.5rem;
}

@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 1.875rem;
    letter-spacing: 0.176rem;
    line-height: 2.375rem;
  }
}
h2 {
  color: #141414;
  margin-top: 0;
  font-size: 1.375rem;
  font-weight: 200;
  line-height: 1.875rem;
  letter-spacing: initial;
  text-transform: none;
}

h3 {
  color: #141414;
  margin-top: 0;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.067rem;
  line-height: 1.25rem;
  text-transform: uppercase;
}

h4 {
  color: #141414;
  margin-top: 0;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.25rem;
}

h5 {
  color: #141414;
  margin-top: 0;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.25rem;
}

h6 {
  color: #141414;
  margin-top: 0;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.25rem;
}

p {
  color: #141414;
  margin-top: 0;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: normal;
  line-height: 1.25rem;
}

@font-face {
  font-family: "GillSansforJL";
  src: url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Lt.eot");
  src: url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Lt.eot?#iefix") format("embedded-opentype"), url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Lt.woff2") format("woff2"), url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Lt.woff") format("woff"), url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Lt.ttf") format("truetype"), url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Lt.svg#jlicons") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GillSansforJL";
  src: url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Md.eot");
  src: url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Md.eot?#iefix") format("embedded-opentype"), url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Md.woff2") format("woff2"), url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Md.woff") format("woff"), url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Md.ttf") format("truetype"), url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Md.svg#jlicons") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}